*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;   
}

:root{
    --main-color: #f24f04;
    --text-color: #252429;
    --bg-color: #fffefb;
    --rr-color: #ffa50a;
    --other-color: #95949a;
    --bb-color: #fff2de;

    --big-font: 4.4rem;
    --h2-font: 3rem;
    --p-font: 1rem;
}

html{
    scroll-behavior: smooth;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

header{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-color);
    box-shadow: 0 0.4rem 30rem rgba(0, 0, 0, 0.1);
    padding: 12px 8%;
    transition: all ease .52s;
    /* animation-name: fade;
    animation-duration: 3s; */
}

.logo img{
    width: 130px;
    max-width: 100%;
    height: auto;
}

.logo img {
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes slideInLeft {
    0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }
    }
    @keyframes slideInLeft {
    0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }
} 

nav i.cons{
    display: none;
}

.navbar{
    display: flex;
}

.navbar a{
    margin: 0px 15px;
    padding: 5px 5px;
    font-size: var(--p-font);
    font-weight: 500;
    color: var(--text-color);
    
}

.navbar a{
    height: 3px;
    bottom: 0px;
    width: 0;
    left: 50%;
    transition: ease-in-out .15s;
}

.navbar a:hover{
    width: 40%;
    color: var(--main-color);
    border-bottom: solid red 2px;
}

.navbar a:hover{
    outline: none;
}


.navbar a.active{
    color: var(--main-color);
}

.cons{
    display: none;
}

.header-icons{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-icons .bot{
    vertical-align: middle;
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 20px;
    transition: ease .20s;
}

.header-icons .bot:hover{
    transform: scale(1.1) translateX(-5px);
    color: var(--main-color);

}

#menu-icon{
    color: var(--text-color);
    font-size: 25px;
    z-index: 10001;
    margin-left: 25px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: none;
} 

section{
    padding: 85px 18% 65px;
    margin-bottom: 2rem;
}

.home{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
    animation-name: fade;
    animation-duration: 2s;
}

.home-img img{
    width: 68vh;
    height: 80vh;
    transform: scaleX(-1);
    mix-blend-mode: multiply;
}

.home-text h1{
    font-size: 50px;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 1rem;
    font-family: 'Playfair Display', serif;
}

.home-text p{
    max-width: 370px;
    font-weight: var(--p-font);
    line-height: 32px;
    color: var(--other-color);
    margin-bottom: 3rem;
}

.home-btnn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn{
    padding: 12px 26px;
    background: var(--main-color);
    color: var(--bg-color);
    font-size: var(--p-font);
    font-weight: bold;
    border-radius: 0.7rem;
    transition: all ease .30s;
}

.btn:hover{
    transform: scale(1.1) translateX(-5px);
}

.menu .center-text{
    margin-top: 25px;
}

.center-text{
    text-align: center;
}

.center-text strong{
    font-size: var(--p-font);
    font-weight: 500;
    color: var(--main-color);
}

.center-text h2{
    font-family: 'Playfair Display', serif;
    font-size: var(--h2-font);
    font-weight: 900;
}

.categories-content{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1.5rem;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
}

.box-img img{
    width: 190px;
    height: 190px;
}

.box h3{
    font-size: 25px;
    font-weight: 900;
    font-family: 'Playfair Display', serif;
}

.box p{
    font-size: 13px;
    color: var(--other-color);
    margin-bottom: 2rem;
}

.history{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
    margin-bottom: 7rem;
}

.history-img img{
    height: auto;
    width: 100%;
}

.history-text strong{
    font-size: var(--p-font);
    font-weight: 500;
    color: var(--main-color);
}

.history-text h2{
    font-size: 40px;
    font-weight: 900;
    line-height: 1.1;
    margin: 15px 0;
    font-family: 'Playfair Display', serif;
}

.history-text p{
    max-width: 450px;
    font-size: var(--p-font);
    line-height: 17px;
    color: var(--other-color);
    margin-bottom: 2rem;
}
  
.menu-content{
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    margin-top: 4rem;
}

.row{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--bg-color);
    box-shadow: -1px 15px 26px -4px #b7b4c2;
    border-radius: 0.7rem;
    padding: 30px 20px;
    cursor: pointer;
    transition: all ease .30s;
}

.row-img img{
    width: 190px;
    height: 190px;
    margin-bottom: 15px;
}

.row h6{
    font-size: 15px;
    font-weight: 800;
    color: var(--main-color);
    margin: 10px 0;
}

.row h5{
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    font-weight: 900;
}

.ratings i{
    font-size: 1rem;
    color: var(--rr-color);
    margin: 0 2px;
}

.row:hover{
    transform: translateY(-10px);
}

.menu-btnn{
    text-align: center;
    margin: 3rem;
}

.testimonial{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

.testimonial-left strong{
    font-size: var(--p-font);
    font-weight: 500;
    color: var(--main-color);
}

.testimonial-left h2{
    font-size: 40px;
    font-weight: 900;
    line-height: 1.1;
    margin: 20px 0;
    font-family: 'Playfair Display', serif;
}

.testimonial-img img{
    width: 100%;
    max-width: 160px;
    height: auto;
    margin-bottom: 15px;
}

.testimonial-right h4{
    font-size: 22px;
    font-weight: 900;
    margin-bottom: 8px;
    font-family: 'Playfair Display', serif;
}

.testimonial-right h6{
    color: var(--main-color);
    font-size: 15px;
    font-weight: 800;
    margin-bottom: 20px;
}

.testimonial-right p{
    font-size: var(--p-font);
    line-height: 32px;
    color: var(--other-color);
}

.newsletter{
    display: grid;
    justify-items: center;
}

.newsletter form{
    display: flex;
    margin-top: 2.5rem;
    padding: 10px 20px;
    background: var(--bb-color);
    box-shadow: 1px 15px 26px -4px #b7b4c2;
    border-radius: 0.5rem;
}

.newsletter form .email{
    width: 275px;
    max-width: 100%;
}

.newsletter form input{
    outline: none;
    border: none;
    background: none;
    color: var(--text-color);
    font-size: var(--p-font);
}

.newsletter form .btn{
    background: var(--main-color);
    color: var(--bg-color);
}

.contact{
    display: grid;
    grid-template-columns: auto auto auto auto;
    background: var(--bb-color);
    box-shadow: 5px 15px 26px -3px #b7b4c2;
    /* width: 100%; */
}

.contact-box .logo img{
    width: 150px;
    /* max-width: 100%; */
    height: auto;
    margin-bottom: 3rem;
}

.icons i{
    height: 35px;
    width: 35px;
    background: var(--main-color);
    color: var(--bg-color);
    font-size: 20px;
    margin-right: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    transition: all ease .40s;
}

.icons i:hover{
    transform: translateY(-5px);
    background: var(--bb-color);
    color: var(--main-color);
}

.contact-box h3{
    font-size: 18px;
    font-weight: 900;
    font-family: 'Playfair Display', serif;
    margin-bottom: 20px;
}

.contact-box li{
    margin-bottom: 13px;
}

.contact-box li a{
    display: block;
    color: var(--other-color);
    font-size: var(--p-font);
    transition: all ease .35s;
}

.contact-box li a:hover{
    transform: translateY(-5px);
    color: var(--main-color);
}

.reveal{
    transform: translateY(10px);
    opacity: 0;
    transition: all 1.5s ease-in;
}

.reveal.active{
    transform: translateY(0px);
    opacity: 100;
}

.copyright p{
    font-family: 'Playfair Display', serif;
    text-align: center;
    background: var(--bb-color);
    font-size: 14px;
    font-weight: 800;
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
}

.copyright p marquee{
    font-family: 'Playfair Display', serif;
}

marquee{
    height: 30px; 
    direction:left;
    padding-top: 10px;
}


@keyframes fade{
    from{opacity: 0;}
    to{opacity: 100;}
}


/* media query */
@media screen and (max-width:1200px) {
    .navbar a{
        font-size: 14px;   
    }
    .header-icons .bot{
        font-size: 14px;
    }
}

@media screen and (max-width:1104px) {
    .navbar a{
        font-size: 13px;   
    }
    .header-icons .bot{
        font-size: 14px;
    }
    .home-text{
        width: 240px;
    }
    .home-text h1{
        font-size: 45px;
        font-weight: 800;
    }
    
    .home-text p{
        font-weight: 14px;
    }
}

@media screen and (max-width:1065px) {
    .navbar a{
        margin: 0px 9px;
        padding: 4px 4px;
    }
    .navbar a{
        font-size: 13px;   
    }
    .home-text{
        width: 250px;
    }
    .home-text h1, .center-text h2, .history-text h2, .testimonial-left h2{
        font-size: 40px;
        font-weight: 800;
    }
    .home-text p{
        font-weight: 12px;
    }
    .btn{
        font-size: 12px; 
        font-weight: bold;
    }
    .row{
        width: 200px;
    }
    .row-img img{
        width: 130px;
        height: 130px;
    }
}

@media screen and (max-width:987px) {
    .navbar a{
        font-size: 11px;   
    }

    .navbar a{
        margin: 0px 10px;
        padding: 3px 3px;
    }
    
    .navbar a{
        left: 10%;
    }
}

@media screen and (min-width:941px) {
    .menu-content{
        gap: 1.5rem;
    }
}

@media screen and (max-width:940px) {
    .row{
        width: 180px;
    }
    .row-img img{
        width: 110px;
        height: 110px;
    }
    .home-text h1, .center-text h2, .history-text h2, .testimonial-left h2{
        font-size: 38px;
        font-weight: 800;
        letter-spacing: 1px;
    }
}

@media screen and (max-width:887px) {
    .navbar a{
        font-size: 10px;   
    }

    .navbar a{
        margin: 0px 4px;
        padding: 3px 3px;
    }
    
    .navbar a{
        left: 2%;
    }
    .row{
        width: 170px;
    }
    .menu-content{
        gap: 0.7rem;
    }
    .categories-content{
        justify-content: center;
    }
    .center-text{
        justify-content: center;
    }
}


/* Tablet screen */
@media only screen and (max-width: 800px){
    .header-icons{
        display: none;
    }
    .navbar{
    display: block;
    position: fixed;
    }
    nav i.cons{
        display: block;
        font-size: 20px;
    }
    nav ul .cons{
        position: absolute;
        top: 40px;
        left: 25px;
        cursor: pointer;
    }
    nav ul li{
        margin-left: 3px;
    }
    nav ul{
        display: block;
        background: #e25311;
        position: fixed;
        top: 0;
        right: -200px;
        width: 150px;
        height: 100vh;
        padding-top: 60px;
        z-index: 2;
        transition: 0.5s ease-in-out;
    }
    .navbar a{
        font-size: 15px;   
        font-weight: 600;
    }
    .navbar a.active{
        color: white;
    }
    .navbar a:hover{
        width: 40%;
        color: white;
        border-bottom: solid #fff 2px;
    }
    .navbar li{
        margin-top: 10px;
    }
    .home{
        margin-left: -10px;
    }
    .close{
        margin-left: -11px;
        margin-top: -13px;
    }
    .categories-content{
        justify-content: center;
    }
    .center-text{
        justify-content: center;
    }
    .row{
        width: 170px;
    }
    .menu-content{
        gap: 0.7rem;
    }
}

@media only screen and (max-width: 600px) {
    .home{
        width: 100%;
        height: 100vh;
        margin-top: 10vh;
    }
    .home-img img{
        margin-left: -30px;
    }
    .btn{
        font-size: 18px;
    }
    .categories-content{
        margin-left: 60px;
        padding-left: 40px;
    }
    .center-text{
        margin-left: 92px;
    }
    .history-text h2{
        letter-spacing: 5px;
    }
    .history-text p{
        letter-spacing: 2px;
        font-size: 14px;
    }
    .history-img{
        width: 300px;
    }
    .categories-content{
        display: block;
    }
    .menu-content{
        display: block;
    }
    .row{
        margin-left: 100px;
        width: 300px;
        padding: 30px 20px;
        margin-bottom: 30px;
        box-shadow: none;
        outline: #f24f04 solid 0.5px;
    }
    .row:hover{
        box-shadow: -1px 15px 26px -4px #b7b4c2;
    }
    .menu-content{
        gap: 2.5rem;
    }
    
    .row-img img{
        width: 190px;
        height: 190px;
        margin-bottom: 15px;
    }
    .menu-btnn{
        text-align: center;
        margin-left: 170px;
    }
    .newsletter{
        width: 500px;
    }
    .newsletter form{
        margin-left: 50px;
    }
    .sub{
        margin-left: -60px;
    }
    .contact, .copyright{
        width: 740px;
    }
}



@media only screen and (max-width: px) {
    .home-img{
        margin-left: -30px;
    }
    .home-img img{
        margin-left: 40px;
        width: 300px;
        height: 400px;
    }
}


@media only screen and (max-width: 585px) {
    .center-text h2{
        width: 300px;
    }
    .home-img{
        margin-left: -20px;
    }
    .categories-content{
        margin-left: 100px;
        width: 250px;
    }
    strong{
        margin-left: 50px;
    }
}
@media only screen and (max-width: 500px) {
    .center-text h2{
        width: 300px;
        margin-left: 50px;
    }
    .home-img{
        margin-left: -20px;
    }
    .categories-content{
        margin-left: 140px;
        padding-left: 40px;
        width: 250px;
    }
    strong{
        margin-left: 150px;
    }
}

@media only screen and (max-width: 475px) {
    .home{
        margin-top: 30vh;
    }
    .home-img img{
        margin-left: -30px;
        height: 100vh;
        width: 80vw;
        margin-top: -15vh;
    }
    .home-text h1{
        font-size: 50px;
    }
    .home-text p{
        font-size: 18px;
    }
    .center-text{
        width: 300px;
        margin-left: 50px;
    }
    .center-text h2{
        width: 300px;
        margin-left: 90px;
    }
    .categories-content{
        width: 280px;
    }
    .stron{
        margin-left: 0;
    }
    .menu-content{
        margin-left: 41px;
    }
    .menu-btnn{
        width: 180px;
        margin-left: 200px;
    }
    .testimonial{
        margin-left: 60px;
    }
    .testimonial-left h2{
        letter-spacing: 5px;
    }
    .testimonial-right p{
        letter-spacing: 1.5px;
        font-size: 14px;
    }
    .testimonial-img{
        width: 300px;
    }
    .subs{
        margin-left: -190px;
        width: 250px;
    }
}

@media only screen and (max-width: 425px) {
    .home{
        padding-top: 20vh;
        height: 120vh;
        margin-top: 40vh;
    }
    .home-img img{
        width: 90vw;
    }
    nav i.cons{    
        font-size: 23px;
    }
    .navbar a{
        font-size: 24px;   
        font-weight: 600;
    }
    .navbar li{
        margin-top: 40px;
        width: 400px;
    }
    nav ul li{
        margin-left: 14px;
    }
    nav ul{
        right: -250px;
        width: 200px;
        height: 270vh;
    }
    .close{
        margin-left: 0;
        margin-top: 3px;
    }
    nav i.cons{
        font-size: 30px;
    }
    .categories-content{
        width: 290px;
    }
    .box{
        height: 75vh;
    }
    .box-img img{
        width: 200px;
        height: 200px;
    }
    .box p{
        font-size: 16px;
        margin-bottom: 2rem;
    }
    .history-text p, .testimonial-right p{
        font-size: 17px;
    }.row h6{
        font-size: 17px;
        font-weight: 800;
    }
    .row h5{
        font-size: 20px;
        font-weight: 900;
    }
    .ratings i{
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 375px) {
    header{
        padding-top: 25px;
    }
    .logo img{
        width: 150px;
        height: auto;
    }
    .home{
        height: 120vh;
        margin-top: 55vh;
    }
    .home-img img{
        height: 100vh;
        width: 100vw;
    }
    .home-text h1{
        font-size: 60px;
    }
    .nnn{
        font-size: 18px;
    }
    .text{
        margin-top: 10vh;
    }
    .categories-content{
        width: 370px;
        margin-left: 85px;
    }
    .box p{
        font-size: 18px;
    }
    .history{
        margin-top: -10vh;
    }
    .history-text p, .testimonial-right p{
        font-size: 19px;
    }
    .row{
        margin-bottom: 15vh;
    }
    .row h6{
        font-size: 19px;
        font-weight: 800;
    }
    .row h5{
        font-size: 22px;
        font-weight: 900;
    }
    .ratings i{
        font-size: 2rem;
    }
}

@media only screen and (max-width: 320px) {
    header{
        padding-top: 25px;
    }
    .logo img{
        width: 160px;
        height: 50px;
    }
    .home{
        margin-top: 40vh;
        height: 200vh;
    }
    .home-img img{

        height: 130vh;
        width: 150vw;
        margin-top: -40vh;
        margin-left: -50px;
    }
    .home-text h1{
        font-size: 65px;
    }
    .home-text p{
        font-size: 20px;
    }
    .nnn{
        padding: 15px 30px;
        width: 290px;
        margin-top: -30vh;
        margin-left: 200px;
        font-size: 30px;
    }
    .categories{
        width: 90vh;
    }
    .center-text{
        padding-top: -30vh;
        width: 600px;
        margin-left: 50px;
    }
    .center-text .text{
        margin: 30vh;
    }
    .center-text h2{
        font-size: 50px;
        width: 450px;
        margin-left: 50px;
    }
    .categories-content{
        width: 370px;
        margin-left: 120px;
    }
    .stro{
        margin-left: -80px;
    }
    strong{
        font-size: 90px;
    }
    .box p{
        font-size: 20px;
    }
    .history-text p{
        line-height: 2rem;
    }
    .history-text p, .testimonial-right p{
        font-size: 21px;
        width: 300px;
    }
    .our{
        margin-left: -60px;
    }
    .row{
        margin-left: 110px;
        margin-bottom: 17vh;
        width: 350px;
    }
    .row-img img{
        width: 200px;
        height: 200px;
        
    }
    .row h6{
        font-size: 20px;
        font-weight: 800;
    }
    .row h5{
        font-size: 24px;
        font-weight: 900;
    }
    .ratings i{
        font-size: 2rem;
    }
    .menu-btnn{
        margin-left: 240px;
    }
    .nn{
        font-size: 20px;
    }
    marquee{
        font-size: 17px;
    }
}